/** @format */

@import "tailwindcss";

body {
  overflow-x: hidden;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% / 3));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
}

.pause-animation:hover {
  animation-play-state: paused;
}
